html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background: #b22;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 20px 30px;
  margin: 20px;
  border: 2px solid white;
  border-radius: 4px;
  background: linear-gradient(to bottom, snow, linen);
}

.logo {
  display: inline-block;
  margin: auto;
  font-size: 28px;
  font-family: 'Pacifico', cursive;
  color: saddlebrown;
}

.beamer {
  margin: 10px auto;
}

.cries {
  margin-top: 10px;
  text-align: justify;
}

.cry:first-letter {
  text-transform: capitalize;
}

.credit {
  margin: 30px auto 20px;
  font-size: 11px;
}